.container-projetos {
    position: absolute;
    top: 4rem;
    left: 22rem;
    overflow-y: auto;
    max-height: 90vh;
    height: auto;
    width: 90rem;
    color: white;
    font-family: "fire", monospace;
}

.container-projetos h1 {
    color: rgb(143, 143, 143);
    text-align: center;
}

.projetos-web {
    border: 1px solid rgb(61, 61, 61);
    border-radius: 20px;
    height: 30rem;
}

.box {
    display: inline-block;
    border: 1px solid rgb(61, 61, 61);
    border-radius: 20px;
    height: 21rem;
    width: 20rem;
    margin: 1rem;
    padding-left: 20px;
    background: black;
    box-shadow: 2px 2px 5px aquamarine;
}

.box button {
    align-items: center;
    background-color: rgb(0, 0, 0);
    width: 19rem;
    height: 2rem;
    border: 1px solid rgb(85, 85, 85);
    border-radius: 20px;
    margin: auto;
    color: rgb(143, 143, 143);
    cursor: pointer;
}

.box button:hover {
    border-bottom: 1px solid aquamarine;
    box-shadow: 2px 2px 10px aquamarine;
}


.projetos-python {
    margin-top: 2rem;
    border: 1px solid rgb(61, 61, 61);
    border-radius: 20px;
    height: 40rem;
}

.projetos-other {
    margin-top: 2rem;
    border: 1px solid rgb(61, 61, 61);
    border-radius: 20px;
    height: 30rem;
}

#box5,
#box6 {
    height: 30.5rem;
}


@media screen and (max-width: 1280px) {
    .container-projetos {
        width: 50rem;
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 90vh;


    }

    .container-projetos h1 {
        position: relative;
        text-align: center;

    }

    .projetos-web,
    .projetos-python,
    .projetos-other {
        overflow-x: auto;
        /* Adicionando rolagem horizontal conforme necessário */
        overflow-y: auto;
        /* Adicionando rolagem vertical */
        max-width: 50rem;
        max-height: 50rem;
        height: auto;
        width: auto;
        /* Definindo a largura como automática */
    }

}

@media screen and (max-width: 850px) {
    .container-projetos {
        position: fixed;
        left: 3.5rem;
        width: 50rem;
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 90vh;


    }
    .container-projetos h1 {
        position: relative;
        text-align: center;

    }

    .projetos-web,
    .projetos-python,
    .projetos-other {
        width: 50rem;
        height: auto;
        align-items: flex-start;
        justify-content: column;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .projetos-python {
        overflow: auto;
    }
}

@media screen and (max-width: 790px) {
    .container-projetos {
        position: relative;
        left: 0rem;
        width: 40rem;
        height: 50rem;

    }

    .container-projetos h1 {
        position: relative;
        text-align: center;

    }

    .projetos-web,
    .projetos-python,
    .projetos-other {
        width: 24rem;
        height: auto;
        align-items: flex-start;
        justify-content: column;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .projetos-python {
        overflow: auto;
    }
}