<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Winicius Neves - Portfolio</title>

  <link rel="stylesheet" href="../css/pagina-contact/contact.css">
  <link rel="stylesheet" href="../css/pagina-home/arquivos-cima.css">
  <link rel="stylesheet" href="../css/pagina-home/arquivos-lado.css">
  <link rel="stylesheet" href="../css/styles.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap" rel="stylesheet">

  <link rel="icon" href="https://img3.gelbooru.com/images/4c/7a/4c7abc46e92f3c372e4ab84e078b3431.gif" width="500" />
</head>

<body>
  <!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Winicius Neves - Portfolio</title>

  <link rel="stylesheet" href="../css/styles.css" />
  <link rel="stylesheet" href="../css/model/arquivos-cima.css">
  <link rel="stylesheet" href="../css/model/arquivos-lado.css">
  <link rel="stylesheet" href="../css/model/arquivos-console.css">
  <link rel="stylesheet" href="../css/model/arquivos-rodape.css">
  <link rel="stylesheet" href="../css/pagina-home/preloader.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap" rel="stylesheet">

  <link rel="icon" href="https://img3.gelbooru.com/images/4c/7a/4c7abc46e92f3c372e4ab84e078b3431.gif" />
</head>

<body>
  <header>
    <div class="container-header">
      <div class="logo">
        <img src="https://www.gkos.dev/vscode_icon.svg" width="20" alt="logo" />
      </div>
      <div class="menu">
        <span>File</span>
        <span>Edit</span>
        <span>Select</span>
        <span>View</span>
        <span>Access</span>
        <span>To Execute</span>
        <span>Terminal</span>
        <span>Help</span>
      </div>
      <div class="title">Winicius Neves - Portfolio</div>

      <div class="title-bar">
        <span id="btn-green">
               </span>
        <span id="btn-yellow">
               </span>
        <span id="btn-red">
               </span>
      </div>
    </div>
    <div class="container-paginas">
      <a href="/"><button><img src="../images/html.svg" width="16" alt="">Home.html</button></a>
      <a href="/Curriculum"><button><img src="../images/css.svg" alt="">Curriculum.css</button></a>
      <a href="/Projects"><button><img src="../images/js.svg" alt="">Projects.js</button></a>
      <a href="/GitHub"><button><img src="../images/github.svg" alt="">GitHub.git</button></a>
      <a href="/Contact"><button><img src="../images/react.svg" alt="">Contact.jsx</button></a>
    </div>
  </header>
  <main>
    <aside>
      <div class="container-icones">
        <div class="icones">

          <a href="/"><img class="icon1" src="../images/file-removebg-preview.png" alt="file"></a>
          <a href="/Projects"><img class="icon2" src="../images/code-removebg-preview.png" alt="curriculo"></a>
          <a href="/GitHub"><img class="icon3" src="../images/git-removebg-preview.png" alt="git"></a>
          <a href="/Contact"><img class="icon4" src="../images/email-removebg-preview.png" alt="email"></a>
          <a href="/Curriculum"><img class="icon5" src="../images/conta-removebg-preview.png" alt="conta"></a>
          <a href=""><img class="icon6" src="../images/gear-removebg-preview.png" alt="confi"></a>

        </div>
      </div>
    </aside>
    <nav>
      <div class="container-explorador">
        <h4>Explorador</h4>
        <h5>Open Editors</h5>
        <div class="explorador-open">
          <div>
            Home.html
            <span>views/home.html</span>
          </div>

          <div>
            Curriculum.css
            <span>views/curriculum.css</span>
          </div>

          <div>Projects.js
            <span>views/projects.js</span>
          </div>

          <div>
            GitHub.ts
            <span>views/github.ts</span>
          </div>

          <div>
            Contact.jsx
            <span>views/contact.jsx</span>
          </div>

        </div>
      </div>

      <div class="container-arquivos">
        <h4>Portfolio</h4>
        <div class="arquivo" id="arquivo2">
          <img src="../images/folder_src_open.svg" alt="" />src
        </div>
        <div class="arquivo" id="arquivo3">
          <img src="../images/folder_assets_open.svg" alt="" />public
        </div>
        <div class="arquivo" id="arquivo4">
          <img src="../images/folder_open.svg" alt="" />front
        </div>
        <div class="arquivo" id="arquivo5">
          <img src="../images/html.svg" width="16" alt="" />Home.html
        </div>
        <div class="arquivo" id="arquivo6">
          <img src="../images/css.svg" alt="" />Curriculum.css
        </div>
        <div class="arquivo" id="arquivo7">
          <img src="../images/js.svg" alt="" />Projects.js
        </div>
        <div class="arquivo" id="arquivo8">
          <img src="../images/github.svg" alt="" />GitHub.git
        </div>
        <div class="arquivo" id="arquivo9">
          <img src="../images/react.svg" alt="" />Contact.jsx
        </div>
        <div class="arquivo" id="arquivo10">
          <img src="../images/js.svg" alt="" />app.js
        </div>
        <div class="arquivo" id="arquivo11">
          <img src="../images/json.svg" alt="" />package.json
        </div>
        <div class="arquivo" id="arquivo12">
          <img src="../images/js.svg" alt="" />router.js
        </div>
      </div>
    </nav>

    <section>
      <div class="container-contact">
        <div class="Contact">
          <img class="gif" src="https://wallpaperaccess.com/full/6604090.gif" alt="" >
          <div class="container-text">
            <h1>Contact</h1>
            <p>If you have any questions, please don't hesitate to contact me</p>
            <p >- Social</p>
            <p class="espaço">* Email: <a class="social" href="mailto:winiciusneves2004@hotmail.com" target="_blank">Winiciusneves2004@hotmail.com</a></p>
            <p class="espaço">* GitHub: <a class="social" href="https://github.com/WiniciusNeves" target="_blank">https://github.com/WiniciusNeves</a></p>
            <p class="espaço">* LinkedIn: <a class="social" href="https://www.linkedin.com/in/winicius-neves-4b9257268/" target="_blank">https://www.linkedin.com/in/winicius-neves/</a></p>
            <p class="espaço">* Linktree: <a class="social"href="https://linktr.ee/winiciusneves" target="_blank">https://linktr.ee/winiciusneves</a></p>	
          </div>
      </div>
    </section>

  </main>
  <footer>
    <div class="container-rodape">
      <span> © 2024 Winicius Neves. All rights reserved.</span>
      <span>Powered by VSCODE</span>
      <span>Version 1.0.0</span>
      <span>Theme: ocean high</span>
    </div>

  </footer>
</body>

</html>
<body>

</html>